#pagewrap {
  width: 1000px;
  margin: 0 auto;
}
body {
  width: 100%
}

.header {
 outline: 1px solid red;
 width: 100%;
 height: 225px;
}


.main {
  outline: 1px solid black;
  height: 960px
}
.nav {
  outline: 1px dotted blue;
  width: 960px;
  height: 200px;
  position:
}

.top {
  outline: 1px soild green;
  height: 960px;
  width: 450px;
}

.holderofthreeimages {
  outline: 1px dotted orange;


}
